header {
  margin-top: 70px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 28px;
  font-family: cursive;
}

.selection_area {
  display: flex;
}

.select_area {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 20px;
}

body {
  background-color: lightblue;
  background: linear-gradient(to right, #33ccff 0%, #66ffff 60%);
  margin: 0px;
  background-size: 100% 100%;
}

.radio {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

select {
  margin: 15px;
}

.numbers {
  align-items: center;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 8px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: left;
  padding: 8px 50px 8px;
  font-size: 12px;
  margin-top: 20px;
}