header {
  margin-top: 70px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 28px;
  font-family: cursive;
}

.selection_area {
  margin: auto;
  width: 50%;
  display: flex;
}

.select_area {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 20px;
}

body {
  background-color: lightblue;
  background: linear-gradient(to right, #33ccff 0%, #66ffff 60%);
  margin: 0px;
  background-size: 100% 100%;
}

.radio {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

select {
  margin: 15px;
}

.numbers {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  width: 10%;
  margin: auto;
  justify-content: center;
  display: flex;
  padding: 8px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: black;
  background-color: transparent;
  margin-bottom: 40px;
  border: solid black 2px;
}

.button:hover {
  background-color: gray;
}

.button:active {
  background-color: darkgray;
  transform: translateY(4px);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: left;
  padding: 8px 50px 8px;
  font-size: 12px;
  margin-top: 20px;
}

.downtown {
  display: flex;
  justify-content: center;
}