ul {
    padding:0;
    list-style:none;
    width: 45%;
    margin:auto;
  }
  
  li{
    font-size:1.2rem;
    line-height: 2rem;
    border-bottom: 1px dotted #777;
  }

  h2 {
    margin-top: 70px;
    text-align: center;
    font-family: cursive;
    font-size: 36px;
  }

  .button {
    margin-top: 30px;
  }